div * {
    vertical-align: middle;

}

p {
    text-align: center;
}

button {
    background: #fff;
    padding: 20px;
    width: 400px;
    border: 1px solid #404040;
    border-radius: 10px;
    outline: none;
    margin: 0 15px;
}

button::-moz-focus-inner {
    border: 0;
}

.playerContainer {
    max-width: 900px;
    border: 1px solid rgba(64, 64, 64, 0.6);
    margin: 10px 15px;
    padding: 20px 10px;
    border-radius: 20px;
}

body {
    padding: 30px;
}

.myProgress {
    width: 50%;
    background-color: rgba(0, 136, 255, 0.4);
    opacity: 0.4;
}

.myBar {
    width: 1%;
    height: 30px;
    background-color: rgba(0, 136, 255, 1);
}

.slider {
    -webkit-appearance: none;
    height: 6px;
    background: rgba(64, 64, 64, 0.6);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid rgba(64, 64, 64, 0.6);
    width: 80px;
}

.slider:hover {
    opacity: 0.9;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(64, 64, 64, 1);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
}

input {
    outline: none;
}

input::-moz-focus-inner {
    border: none;
}

.column {
    display: inline-block;
    margin: 10px;
}

.img {
    margin: 0 10px;
}

.column select {
    background-color: rgba(0, 136, 255, 0.8);
    color: white;
    padding: 5px 12px;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    outline: none;
}

.box::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}

input[type="file"] {
    display: none;
}