$whiteText: #fff;
$mainFont: 'Poppins', sans-serif;
$biggerText: 18px;

html {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  content: "";
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url("https://raw.githubusercontent.com/lasjorg/fcc-form-example-image/master/67103817-7c51e200-f18b-11e9-975f-f74561336a9a-lj.jpg");
  font-family: $mainFont;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  background-attachment: fixed;
}

.white-text {
  color: $whiteText;
  font-weight: 500;
}

.body-container {
  max-width: 640px;
  margin: auto;
  background-color: rgba(27, 27, 50, 0.8);
  padding: 40px;
  border-radius: 10px;
  display: block;
}

.wide-input {
  width: 100%;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: $biggerText;
  box-sizing: border-box;
  padding: 10px;
}

.form-group {
  margin: 0 auto 1.5rem auto;
}

.bigger-text {
  font-size: $biggerText
}

.bigger-text span {
  font-size: 14px;
}

option:disabled {
  color: #959595;
}

@media only screen and (max-width: 640px) {
  .body-container {
    border-radius: 0;
    margin: 0;
  }
}

#textarea {
  resize: none;
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  font-size: $biggerText;
  box-sizing: border-box;
}

.submit-btn {
  display: block;
  margin: auto;
  width: 100%;
  padding: 10px;
  background-color: #37af65;
  border: none;
  color: $whiteText;
  font-size: $biggerText;
}

input[type='radio'], input[type='checkbox'] {
  transform: scale(1.5);
}

.select-box {
  margin: 15px 0;
}

.label {
  margin-left: 5px;
}

.description {
  margin: auto;
  padding: 10px;
  text-align: center;
}

#description {
  font-style: italic;
  font-weight: 400;
}