body {
    font-family: 'Lato', sans-serif;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
}

.main {
    margin-top: 50px;
    padding: 20px;
    display: block;
}

.footer {
    bottom: 0;
    background-color: rgba(64, 64, 64, 0.51);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-content: flex-end; */
}

html, body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.header-block {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-self: flex-end; */
    /* flex-grow: 1; */
    justify-content: flex-end;
    /* width: 50%; */
    margin: 10px;
}

.img {
    object-fit: contain;
    width: 50%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.left {
    min-width: 300px;
    height: 30px;
    margin: 10px 0;
}

.form {
    text-align: center;
    margin: 40px 0;
}

.video {
    margin: auto;
    width: 100%;
    max-width: 560px;
    display: flex;
}

h2 {
    display: inline-block;
}

.icon {
    color: #ff8b00;
    width: 100px;
    align-self: center;
    padding: 10px;
}

.wide-input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

.btn {
    text-transform: uppercase;
    margin: 10px auto;
    border: none;
    padding: 10px 20px;
    background-color: #ff8b00;
}

.features {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: fit-content;
}

.feature {
    display: flex;
    margin: 20px;
}

.main {
    display: block;
    margin: 50px;
}

.feature-item {
    width: 80%;
    padding: 10px;
}

.pricing {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px auto;
    max-width: 800px;
}

.pricing-item {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border: 1px solid black;
    width: 30%;
}

@media screen and (max-width: 768px) {
    .feature {
        flex-direction: column;
    }

    .icon, .feature-item {
        align-self: center;
        text-align: center;
    }

    .pricing {
        flex-direction: column;
    }

    .pricing-item {
        width: 100%;
        margin: 5% 15vw;
        align-self: center;
    }
}

.pricing-item-content, .pricing-item-header {
    padding: 10px 30px;
}

.pricing-item-header {
    text-transform: uppercase;
    font-weight: 500;
    /* contain: content; */
    /* min-width: fit-content; */
}

.pricing-item-header {
    background-color: #dddddd;
}

.footer-items li {
    display: inline-block;
    padding: 0 10px;
}

.footer-items {
    align-self: flex-end;
    margin: 10px 20px 10px 0;
}

.menu a {
    margin: 0 20px;
}

.nav-link {
    cursor: pointer;
}




