ul {
  list-style-type: none;
}

.logo, .menu, .menu img {
  max-width: 50%;
}

.logo {
  display: inline-block;
}

.menu {
  display: inline-block;
}

.menu li {
  float: left;
}

.img {
  object-fit: contain;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main {

}
