<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <title>With webpack</title>

</head>
<body>
<div class="context">
    <a href="javascript:void(0);" class="hamburger" id="hamburger">
        <i class="fa fa-bars"></i>
    </a></div>

<nav id="navbar" class="navbar">
    <header class="header">JS Documentation</header>
    <a href="#Introduction" class="nav-link">
        <span class="menu-item">Introduction</span>
    </a>
    <a href="#What_you_should_already_know" class="nav-link">
        <span class="menu-item">
            What you should already know
        </span>
    </a>
    <a href="#JavaScript_and_Java" class="nav-link">
        <span class="menu-item">
            JavaScript and Java
        </span>
    </a>
    <a href="#Hello_world" class="nav-link">
        <span class="menu-item">
            Hello world
        </span>
    </a>
    <a href="#Variables" class="nav-link">
        <span class="menu-item">
            Variables
        </span>
    </a>
    <a href="#Declaring_variables" class="nav-link">
        <span class="menu-item">
            Declaring variables
        </span>
    </a>
    <a href="#Data_types" class="nav-link">
        <span class="menu-item">
            Data_types
        </span>
    </a>
    <a href="#if...else_statement" class="nav-link">
        <span class="menu-item">
            if...else statement
        </span>
    </a>
    <a href="#while_statement" class="nav-link">
        <span class="menu-item">
            while statement
        </span>
    </a>
    <a href="#Function_declaration" class="nav-link">
        <span class="menu-item">
            Function declaration
        </span>
    </a>
    <a href="#Reference" class="nav-link">
        <span class="menu-item">Reference</span>
    </a>
</nav>
<main class="main" id="main-doc">
    <section class="main-section" id="Introduction">
        <header class="header">Introduction</header>
        <div class="article">
            <p class="par">JavaScript is a cross-platform, object-oriented scripting language. It is a small and
                lightweight language. Inside a host environment (for example, a web browser), JavaScript can be
                connected to the objects of its environment to provide programmatic control over them.</p>
            <p class="par">JavaScript contains a standard library of objects, such as Array, Date, and Math, and a core
                set of language elements such as operators, control structures, and statements. Core JavaScript can be
                extended for a variety of purposes by supplementing it with additional objects; for example:</p>
            <ul class="ul-list">
                <li class="li-el">Client-side JavaScript extends the core language by supplying objects to control a
                    browser and its
                    Document Object Model (DOM). For example, client-side extensions allow an application to place
                    elements on an HTML form and respond to user events such as mouse clicks, form input, and page
                    navigation.
                </li>
                <li class="li-el">Server-side JavaScript extends the core language by supplying objects relevant to
                    running JavaScript
                    on a server. For example, server-side extensions allow an application to communicate with a
                    database, provide continuity of information from one invocation to another of the application, or
                    perform file manipulations on a server.
                </li>
            </ul>
        </div>
    </section>
    <section class="main-section" id="What_you_should_already_know">
        <header class="header">What you should already know</header>
        <div class="article">
            <p class="par">This guide assumes you have the following basic background:</p>
            <ul class="ul-list">
                <li class="li-el">A general understanding of the Internet and the World Wide Web (WWW).</li>
                <li class="li-el">Good working knowledge of HyperText Markup Language (HTML).</li>
                <li class="li-el">Some programming experience. If you are new to programming, try one of the tutorials
                    linked on the
                    main page about JavaScript.
                </li>
            </ul>
        </div>
    </section>
    <section class="main-section" id="JavaScript_and_Java">
        <header class="header">JavaScript and Java</header>
        <p class="par">JavaScript and Java are similar in some ways but fundamentally different in some others. The
            JavaScript language resembles Java but does not have Java's static typing and strong type checking.
            JavaScript follows most Java expression syntax, naming conventions and basic control-flow constructs which
            was the reason why it was renamed from LiveScript to JavaScript.</p>
        <p class="par">In contrast to Java's compile-time system of classes built by declarations, JavaScript supports a
            runtime system based on a small number of data types representing numeric, Boolean, and string values.
            JavaScript has a prototype-based object model instead of the more common class-based object model. The
            prototype-based model provides dynamic inheritance; that is, what is inherited can vary for individual
            objects. JavaScript also supports functions without any special declarative requirements. Functions can be
            properties of objects, executing as loosely typed methods.</p>
        <p class="par">JavaScript is a very free-form language compared to Java. You do not have to declare all
            variables, classes, and methods. You do not have to be concerned with whether methods are public, private,
            or protected, and you do not have to implement interfaces. Variables, parameters, and function return types
            are not explicitly typed.</p>
    </section>
    <section class="main-section" id="Hello_world">
        <header class="header">Hello world</header>
        <p class="par">To get started with writing JavaScript, open the Scratchpad and write your first "Hello world"
            JavaScript code:</p>
        <code class="code">
            function greetMe(yourName) { alert("Hello " + yourName); }
            greetMe("World");
        </code>
        <p class="par">Select the code in the pad and hit Ctrl+R to watch it unfold in your browser!</p>
    </section>
    <section class="main-section" id="Variables">
        <header class="header">Variables</header>
        <p class="par">You use variables as symbolic names for values in your application. The names of variables,
            called identifiers, conform to certain rules.
        </p>
        <p class="par">A JavaScript identifier must start with a letter, underscore (_), or dollar sign ($); subsequent
            characters can also be digits (0-9). Because JavaScript is case sensitive, letters include the characters
            "A" through "Z" (uppercase) and the characters "a" through "z" (lowercase).</p>
        <p class="par">You can use ISO 8859-1 or Unicode letters such as å and ü in identifiers. You can also use the
            Unicode escape sequences as characters in identifiers. Some examples of legal names are Number_hits, temp99,
            and _name.</p>
    </section>
    <section class="main-section" id="Declaring_variables">
        <header class="header">Declaring variables</header>
        <p class="par">You can declare a variable in three ways:</p>
        <p class="par">With the keyword var. For example,</p>
        <code class="code">var x = 42.</code>
        <p class="par">This syntax can be used to declare both local and global variables.</p>
        <p class="par">By simply assigning it a value. For example,</p>
        <code class="code">x = 42.</code>
        <p class="par">This always declares a global variable. It generates a strict JavaScript warning. You shouldn't
            use this variant.</p>
        <p class="par">With the keyword let. For example,</p>
        <code class="code">let y = 13.</code>
        <p class="par">This syntax can be used to declare a block scope local variable. See Variable scope below.</p>
    </section>
    <section class="main-section" id="Data_types">
        <header class="header">Data types</header>
        <p class="par">The latest ECMAScript standard defines seven data types:</p>
        <ul class="ul-list">
            <li class="li-el">Six data types that are primitives:
                <ul class="ul-list">
                    <li class="nested-li">Boolean. true and false.</li>
                    <li class="nested-li">null. A special keyword denoting a null value. Because JavaScript is
                        case-sensitive, null is not the same as Null, NULL, or any other variant.
                    </li>
                    <li class="nested-li">undefined. A top-level property whose value is undefined.</li>
                    <li class="nested-li">Number. 42 or 3.14159.</li>
                    <li class="nested-li">String. "Howdy"</li>
                    <li class="nested-li">Symbol (new in ECMAScript 2015). A data type whose instances are unique and
                        immutable.
                    </li>
                </ul>
            </li>
            <li class="li-el">and Object</li>
        </ul>
    </section>
    <section class="main-section" id="if...else_statement">
        <header class="header">if...else statement</header>
        <p class="par">Use the if statement to execute a statement if a logical condition is true. Use the optional else
            clause to execute a statement if the condition is false. An if statement looks as follows:
        </p>
        <code class="code">if (condition) { statement_1; } else { statement_2; }</code>
        <p class="par">condition can be any expression that evaluates to true or false. See Boolean for an explanation
            of what evaluates to true and false. If condition evaluates to true, statement_1 is executed; otherwise,
            statement_2 is executed. statement_1 and statement_2 can be any statement, including further nested if
            statements.</p>
        <p class="par">You may also compound the statements using else if to have multiple conditions tested in
            sequence, as follows:</p>
        <code class="code">if (condition_1) { statement_1; } else if (condition_2) { statement_2;
            } else if (condition_n) { statement_n; } else { statement_last; }</code>
        <p class="par">In the case of multiple conditions only the first logical condition which evaluates to true will
            be executed. To execute multiple statements, group them within a block statement ({ ... }) . In general,
            it's good practice to always use block statements, especially when nesting if statements:</p>
        <code class="code">if (condition) { statement_1_runs_if_condition_is_true;
            statement_2_runs_if_condition_is_true; } else {
            statement_3_runs_if_condition_is_false;
            statement_4_runs_if_condition_is_false; }</code>
        <p class="par">It is advisable to not use simple assignments in a conditional expression, because the assignment
            can be confused with equality when glancing over the code. For example, do not use the following code:
        </p>
        <code class="code">if (x = y) { /* statements here */ }</code>
        <p class="par">If you need to use an assignment in a conditional expression, a common practice is to put
            additional parentheses around the assignment. For example:
        </p>
        <code class="code">if ((x = y)) { /* statements here */ }
        </code>
    </section>
    <section class="main-section" id="while_statement">
        <header class="header">while statement</header>
        <p class="par">A while statement executes its statements as long as a specified condition evaluates to true. A
            while statement looks as follows:
        </p>
        <code class="code">while (condition) statement
        </code>
        <p class="par">If the condition becomes false, statement within the loop stops executing and control passes to
            the statement following the loop.
        </p>
        <p class="par">The condition test occurs before statement in the loop is executed. If the condition returns
            true, statement is executed and the condition is tested again. If the condition returns false, execution
            stops and control is passed to the statement following while.
        </p>
        <p class="par">To execute multiple statements, use a block statement ({ ... }) to group those statements.</p>
        <p class="par">Example:
        </p>
        <p class="par">The following while loop iterates as long as n is less than three:</p>
        <code class="code">var n = 0; var x = 0; while (n < 3) { n++; x += n; }</code>
        <p class="par">With each iteration, the loop increments n and adds that value to x. Therefore, x and n take on
            the following values:
        </p>
        <ul class="ul-list">
            <li class="li-el">After the first pass: n = 1 and x = 1</li>
            <li class="li-el">After the second pass: n = 2 and x = 3</li>
            <li class="li-el">After the third pass: n = 3 and x = 6</li>
        </ul>
        <p class="par">After completing the third pass, the condition n < 3 is no longer true, so the loop
            terminates.</p>
    </section>
    <section class="main-section" id="Function_declaration">
        <header class="header">Function declarations</header>
        <p class="par">A function definition (also called a function declaration, or function statement) consists of the
            function keyword, followed by:
        </p>
        <ul class="ul-list">
            <li class="li-el">The name of the function.</li>
            <li class="li-el">A list of arguments to the function, enclosed in parentheses and separated by commas.</li>
            <li class="li-el">The JavaScript statements that define the function, enclosed in curly brackets, { }.</li>
        </ul>
        <p class="par">For example, the following code defines a simple function named square:</p>
        <code class="code">function square(number) { return number * number; }</code>
        <p class="par">The function square takes one argument, called number. The function consists of one statement
            that says to return the argument of the function (that is, number) multiplied by itself. The return
            statement specifies the value returned by the function.</p>
        <code class="code">return number * number;</code>
        <p class="par">Primitive parameters (such as a number) are passed to functions by value; the value is passed to
            the function, but if the function changes the value of the parameter, this change is not reflected globally
            or in the calling function.</p>
    </section>
    <section class="main-section" id="Reference">
        <header class="header">Reference</header>
        <ul>
            <li>All the documentation in this page is taken from <a class="common-link"
                                                                    href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide">MDN</a>
            </li>
        </ul>
    </section>
</main>
<script src="main.js"></script>
</body>
</html>