@import "reset";

$mainFont: 'Vaud', 'Helvetica', 'Arial', sans-serif;
$whiteColor: #fff;
$redColor: #f44236;
$blackColor: #000;
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: 'navbar main' 'navbar main';
  @media all and (max-width: 768px) {
    grid-auto-rows: 50px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'navbar' 'main';
  }
  font-family: $mainFont;
  line-height: 1.4;
  min-height: 100%;
}

.context {
  display: none;
  @media all and (max-width: 768px) {
    position: fixed;
    height: 70px;
    display: flex;
    z-index: 1;
    width: 100%;
  }
  background-color: $redColor;
  color: $whiteColor;
}

.navbar {
  grid-area: navbar;
  position: fixed;
  height: 100vw;
  background-color: $redColor;
  color: $whiteColor;
  @media all and (max-width: 768px) {
    display: none;
  }

  header {
    @media all and (max-width: 768px) {
      visibility: hidden;
    }
  }
}

.main {
  grid-area: main;
}

.menu-item {
  padding: 10px 0 10px 10px;
}

.main-section {
  margin: 10px 30px;
}

.ul-list {
  padding-left: 30px;
}

.header {
  font-size: xx-large;
  padding: 20px;
}

.nav-link {
  font-weight: 500;
  display: block;
  padding: 10px 20px;
}

.par, .menu-item {
  margin: 10px;
}

.li-el:before {
  content: "\261B"; /* FontAwesome Unicode */
  display: inline-block;
  width: 2em; /* same as padding-left set on li */
}

.nested-li:before {
  content: "\2609"; /* FontAwesome Unicode */
  display: inline-block;
  width: 2em; /* same as padding-left set on li */
}

.code {
  display: block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #f7f7f7;
  font-size: 1.1rem;
  font-family: monospace;
}

.par {
  text-align: justify;
}

.common-link {
  text-decoration: underline;
  color: lightskyblue;
}

.hamburger {
  display: inline-flex;
  color: $whiteColor;
  @media all and (max-width: 768px) {
    display: inline-block;
    align-self: center;
    margin-left: 20px;
    padding: 10px;
  }
}

.nav-link:hover {
  background-color: $whiteColor;
  color: $blackColor;

}

.displayed {
  display: block;
}